.card {
  border-bottom: 2px solid $gray-500;

  .card-img-top {
    height: 10rem;
    background-size: cover;
    background-position: center center;
  }
  .card-body {
    min-height: 11rem;
  }

  img {
    width: 100%;
  }
}
