.card {
  .card-img-top {
    height: 10rem;
    background-size: cover;
    background-position: center center;
  }
  .card-body {
    min-height: 11rem;
  }

  img {
    width: 100%;
  }

  .btn.hotness-1{
    background-color: $blue-light;
  }

  .btn.hotness-2{
    background-color: $navy-light;
  }

  .btn.hotness-3{
    background-color: $blue;
  }

  .btn.hotness-4{
    background-color: $navy;
  }

  .btn.hotness-5{
    background-color: $purple;
  }
}
