// Import custom mixins
@import '_custom-mixins';

// Import custom variables before bootstrap to secure override
@import '_custom-variables';

// Import custom bootstrap
@import '_bootstrap-custom';

// Import partials
@import 'partials/_nav';
@import 'partials/_hero';
@import 'partials/_btn';
@import 'partials/_card';
@import 'partials/_footer';
@import 'partials/_content';
@import 'partials/_drupal';
@import 'partials/_utilities';

// Global styles

body {
    background: $gray-100;
    padding-top: 5rem;
}

h1, h2, h3, h4, h5, legend {
  text-transform: uppercase;
}
